<div ng-include src="'views/authMenu.html'"></div>

<div class="col-sm-4 col-sm-offset-4">
    <div class="well">
        <h3>Login</h3>
        <form>
            <p class="alert alert-danger" ng-if="loginError"><strong>Error:</strong> {{loginErrorText}}</p>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="password" required>
            </div>
            <button class="btn btn-primary" ng-click="login()">Login</button>
        </form>
    </div>
</div>